# .env.example
# Lütfen projeyi çalıştırmadan önce bu dosyanın adını .env olarak değiştirin.

FLASK_APP=app.py
FLASK_DEBUG=True
SECRET_KEY=buraya_cok_gizli_bir_flask_anahtari_gelecek
DATABASE_NAME=vault.db
