<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>OWASP Vault</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
        .btn-red { padding: 15px 30px; background: #dc3545; color: white; text-decoration: none; font-size: 18px; border-radius: 5px; font-weight: bold;}
    </style>
</head>
<body>
    <h1>Karşılaştırmalı Güvenlik Portalı</h1>
    <p>Aynı uygulamanın siber saldırılara açık (Kusurlu) ve güvenli (Kusursuz) versiyonlarını inceleyin.</p>
    <br>
    <a href="/vulnerable/" class="btn-red">Kusurlu (Vulnerable) Tarafa Git</a>
</body>
</html>
